@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-bgWhite; /* Use white as the global background */
}

/* styles.css */
.outline-text {
  position: relative;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(black, black);
}

.outline-text::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  color: black; /* Outline color */
  z-index: -1;
  background-clip: unset;
}
